In [118]:
import pandas as pd
import numpy as np

In [119]:
df=pd.read_csv('country_vaccinations_dataset.csv')

In [120]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [121]:
#changing nan values with min numbers of each country
listof = df.columns.difference(['country'])
df1 = df.groupby('country')[listof].transform('min').fillna(0)
df[listof] = df[listof].fillna(df1)
df.head(30)

      country        date  daily_vaccinations         vaccines
0   Argentina  12/29/2020              6483.0        Sputnik V
1   Argentina  12/30/2020             15656.0        Sputnik V
2   Argentina  12/31/2020             15656.0        Sputnik V
3   Argentina    1/1/2021             11070.0        Sputnik V
4   Argentina    1/2/2021              8776.0        Sputnik V
5   Argentina    1/3/2021              7400.0        Sputnik V
6   Argentina    1/4/2021              6483.0        Sputnik V
7   Argentina    1/5/2021              7984.0        Sputnik V
8   Argentina    1/6/2021              8173.0        Sputnik V
9   Argentina    1/7/2021              8363.0        Sputnik V
10  Argentina    1/8/2021             10519.0        Sputnik V
11  Argentina    1/9/2021             11942.0        Sputnik V
12  Argentina   1/10/2021             13365.0        Sputnik V
13  Argentina   1/11/2021             14788.0        Sputnik V
14  Argentina   1/12/2021             14056.0        Sputnik V
15  Argentina   1/13/2021             13323.0        Sputnik V
16  Argentina   1/14/2021             13320.0        Sputnik V
17  Argentina   1/15/2021             13317.0        Sputnik V
18  Argentina   1/16/2021             12971.0        Sputnik V
19  Argentina   1/17/2021             12624.0        Sputnik V
20  Argentina   1/18/2021             12278.0        Sputnik V
21  Argentina   1/19/2021             11932.0        Sputnik V
22  Argentina   1/20/2021             11586.0        Sputnik V
23  Argentina   1/21/2021             11704.0        Sputnik V
24  Argentina   1/22/2021             11263.0        Sputnik V
25  Argentina   1/23/2021             11124.0        Sputnik V
26  Argentina   1/24/2021             10342.0        Sputnik V
27  Argentina   1/25/2021              9046.0        Sputnik V
28    Austria    1/5/2021              3368.0  Pfizer/BioNTech
29    Austria    1/6/2021              3368.0  Pfizer/BioNTech

In [122]:
#country does not have any valid vaccination number so code put 0
df.loc[750]

country                        Kuwait
date                       12/28/2020
daily_vaccinations                  0
vaccines              Pfizer/BioNTech
Name: 750, dtype: object

In [134]:
#medians for daily vaccination numbers for all countries
groups=df.groupby('country', as_index=False).median()

In [135]:
groups.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             60 non-null     object
 1   daily_vaccinations  60 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.4+ KB

In [143]:
groups[['daily_vaccinations']]

    daily_vaccinations
0              11645.0
1               7850.0
2               3662.0
3               3606.0
4              17220.0
5               1010.0
6              11044.0
7               1291.0
8             276786.0
9                675.5
10              2485.0
11               708.0
12              5378.0
13              7095.5
14               108.0
15            107310.5
16              1043.0
17              2035.5
18             41496.0
19             51184.0
20               713.0
21              5290.0
22              5464.5
23                63.0
24            173922.0
25             13200.0
26              6528.0
27               138.0
28             92587.0
29             44475.5
30                 0.0
31               592.0
32              1933.5
33                88.0
34               407.5
35              5488.0
36              6762.0
37              2135.0
38              2958.0
39              1192.0
40              1324.0
41             22702.5
42              5944.0
43             13030.0
44             23563.0
45             16807.5
46              5821.0
47              2920.0
48              1000.0
49              4907.0
50              5357.0
51              2374.0
52             55238.0
53              5382.5
54              3000.0
55            150356.0
56             86430.0
57            120409.0
58            378253.0
59              2198.0

In [149]:
groups[['daily_vaccinations']].max()

daily_vaccinations    378253.0
dtype: float64

In [144]:
#total vaccinations done every for unique day input
daygroup=df.groupby('date', as_index=False).sum()

In [148]:
daygroup[21:22]

        date  daily_vaccinations
21  1/6/2021           1485255.0